streamlit==1.50.0
pandas==2.3.3
numpy==2.0.2
scipy==1.13.1
scikit-learn==1.5.2
xgboost==2.1.4
joblib==1.5.2
mlflow==2.21.3
lifelines==0.30.0
matplotlib==3.9.4
plotly==6.3.1
boto3==1.40.66
folium==0.20.0
branca==0.8.2
streamlit-folium==0.25.3
Pillow==11.3.0
